/* Normalise CSS */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Layout and Structure*/

/* Header Section */


.container--header
{
    background-color: #1f2937; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-bottom: 100px;
} 

.header {
    display: flex;
    justify-content: space-between;
    width: 1070px;
    margin: auto;

    
    &__logo {
        color: #f9faf8;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        align-items: center;
    }

    &__links {
        color: #e5e7eb;
        font-size: 18px;
        display: flex;
        
    
    }
}


/* Hero and Overview Section*/

.container--hero {
    background-color: #1f2937; 
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
    gap: 80px;
    margin: 0px;
} 

.hero-intro {
    display: flex;
    width: 450px;
    flex-direction: column;
    font-family:'Roboto', sans-serif;

    &__title {
        font-size: 48px;
        color: #f9faf8;
        margin: 0;
    }

    &__text {
        font-size: 18px;
        color: #e5e7eb;

    }

    &__button {
        font-size: 18px;
        height: 40px;
        width: 100px;
        background-color: #3882f6;
        color: #f9faf8;
        border-radius: 10px;
    }
}

.hero-image {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 20px 80px;

    &__placeholder {
        display: flex;
        align-items: center;
    }

}


/* Information Section */


.container--information-card {
    display: flex;
    gap: 80px;
    justify-content: center;
    padding-bottom: 100px;
}


.information-title {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;

}

.information-card {
    max-width: 200px;

    &__box {
        height: 200px;
        width: 200px;
        border: 5px solid #3882f6;
        border-radius: 20px;
    }

    &__para {
        font-size: 18px;
        text-align: center;
        margin: 10px 0 10px 10px;

    }
}

/* Quote Section */

.container--quote {
    background-color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;    
}

.quote-text {
    
    &__para {
        font-size: 36px;
        font-style: italic;
        margin: auto;
        width: 850px;
    }

    &__author {
        font-size: 20px;
        font-weight: bold;
        width: 760px;
        margin-left: auto;

    }
}



/* Call to Action Section */


.container--cta {
    display: flex;
    margin: 100px 0;
    justify-content: center;
}

.container--cta-inner-box {
    background-color: #3882f6;
    padding: 40px 300px;
    display: flex;
    gap: 200px;
    border-radius: 10px;

}

.cta-text {
    display: flex;
    flex-direction: column;

    &__title {
        margin: 0;
        color: #f9faf8;

    }

    &__para {
        margin: 0;
        color: #f9faf8;

    }
}

.cta-button {
    display: flex;
    align-items: center;


    &__signup {
        height: 35px;
        background-color: #3882f6;
        color: #f9faf8;
        font-weight: bold;
        border-radius: 10px;
        border: 2px solid #f9faf8;
        padding: 0px 40px;
    }
}


/* Typography */

a {
    text-decoration: none;
    color: #f9faf8;   
}

/* Components */

ul {
    list-style-type: none;
    display: inline-flex;
    gap: 20px
}


  