body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    border: 5px solid black;
}

.information {
    border: 5px solid red;
}

.quote {
    border: 5px solid blue;
}

.cta {
    border: 5px solid green;
}