/* Normalise CSS */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Layout and Structure*/

.nav-container {
background-color: #1f2937;
}

.nav {
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}

.nav__logo {
    color: #f9faf8;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.nav__links {
    color: #e5e7eb;
    font-size: 18px;
}

.overview {
    background-color: #1f2937;
    display: flex;
}

.overview__title {
    color: #F9FAF8;
    font-size: 48px;
}

.information {
    border: 5px solid red;
    display: flex;
}

.quote {
    border: 5px solid blue;
}

.cta {
    border: 5px solid green;
}

/* Typography */

a {
    text-decoration: none;
    color: #f9faf8;   
}

/* Components */

ul {
    list-style-type: none;
    display: inline-flex;
    gap: 10px
}



  